# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js
/.next/
/out/

# Build outputs
/build
/dist

# Firebase
/.firebase/

# Miscellaneous
.DS_Store
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local environment files
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# Editor directories and files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
